/* 
creme: #FFF4DD
yellow: #FFF351
orange: #FF6E00
red: #F40010 
black: #000000
white: #FFFFFF
*/

.ataskiri {
    position: absolute;
    top: 0;
    width: 20vw;
}

.samping1 {
    position: absolute;
    right: 0;
    top: 90vh;
    width: 10vw;
}

.samping2 {
    position: absolute;
    left: 0;
    top: 180vh;
    width: 10vw;
}

.snow {
    position: absolute;
    left: 60%;
    top: 1vh;
    width: 30px;
}

.assetkiri {
    position: absolute;
    left: 8%;
    top: 13vh;
    width: 5vw;
}

.assetkanan {
    position: absolute;
    right: 0;
    top: 33vh;
    width: 15vw;
}

p, li {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

h2, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logo {
    height: 50px;
}

.logofooter {
    height: 100px;
}

.logofoot {
    width: 50px;
}

.logohome {
    width: 600px;
}

.jumbotron {
    margin-left: 220px;
    margin-top: 120px;
}

.containerr {
    width: 65%;
}

.filterDiv{
    display: none;
}
.showfilter{
    display: block;
}
.btn.active{
    border: solid black 2px;
}
.zoom:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: 0.3s;
}

.hoverableborder:hover{
    border: 1pt solid black;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
